<div class="container text-white">
	<div class="row">
		<div class="col-md-2 col-xs-6">
			<h5>Inicio</h5>
		</div>
		<div class="col-md-2 col-xs-6">
			<h5>Tarjetas</h5>
			<ul class="list-unstyled">
				<li>Menú</li>
				<li>Menú</li>
				<li>Menú</li>
				<li>Menú</li>
				<li>Menú</li>
				<li>Menú</li>
			</ul>
		</div>
		<div class="col-md-2 col-xs-6">
			<h5>Soluciones</h5>
			<ul class="list-unstyled">
				<li>Dinero en efectivo</li>
				<li>Ampliciónde línea</li>
				<li>Compra de deuda</li>
				<li>Préstamo personal</li>
				<li>Upgrade</li>
			</ul>
		</div>
		<div class="col-md-2 col-xs-6">
			<h5>Privilegios</h5>
			<ul class="list-unstyled">
				<li>Privilegios</li>
				<li>Ampliciónde línea</li>
				<li>Salas VIP</li>
				<li>Promociones y beneicios</li>
			</ul>
		</div>
		<div class="col-md-2 col-xs-6">
			<h5>Club seguro</h5>
			<ul class="list-unstyled">
				<li>Seguro hogar</li>
				<li>Seguro accidentes</li>
			</ul>
		</div>
		<div class="col-md-2 col-xs-12">
			<button class="btn btn-border btn-white">ÚNASE AL CLUB</button>
			<h5>ASESOR EN LÍNEA</h5>
			<button class="btn btn-border btn-white">DESCUBRA LA APP MÓVIL</button>
			<h5>ÚNASE A LA CONVERSACIÓN</h5>
			<span class="icon-facebook-f"></span> 
			<span class="icon-twitter"></span> 
			<span class="icon-youtube"></span> 
			<span class="icon-instagram"></span> 
			<span class="icon-linkedin"></span> 
		</div>
	</div>
</div>