<section class="row presentation" >
  <div class="col-md-12">
  	<h1 class="text-white text-light text-center mb-20">BELONG</h1>
  	<div class="rectangle col-centered"></div>
  </div>    
</section>

<section class="row featured">
	<div class="col-md-10 col-md-offset-1 bg-white text-center">
		<h2>UN MUNDO DE PRIVILEGIOS</h2>
		<h3 class="text-light">ESPERANDO POR USTED</h3>
		<div class="features">
			<div class="feature">
				<span class="icon-world text-elg"></span>
				<div class="description">
					<p>ACEPTADA EN</p>
					<p><strong>185 PAÍSES</strong></p>
				</div>
			</div>
			<div class="feature">
				<span class="icon-aircraft-take-off text-elg"></span>
				<div class="description">
					<p><strong>650 SALAS VIP</strong></p>
					<p>EN EL MUNDO</p>
				</div>
			</div>
			<div class="feature">
				<span class="icon-shopping-bag text-elg"></span>
				<div class="description">
					<p><strong>CUOTAS</strong></p>
					<p>SIN INTERÉS</p>
				</div>
			</div>
			<div class="feature">
				<span class="icon-briefcase text-elg"></span>
				<div class="description">
					<p>VIAJA JUNTO A</p>
					<p><strong>CLUB MILES</strong></p>
				</div>
			</div>
		</div>
		<button class="btn btn-navy-blue">ÚNASE AL CLUB</button>
	</div>
</section>

<section class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-4 text-center bg-navy-blue text-white">
			SOLUCIONES DINERS A SU MEDIDA
		</div>
		<div class="col-md-8 text-white" style="background-color: cyan">
			<div class="col-md-6 text-center">
				EXCLUSIVO
			</div>
			<div class="col-md-6">
				SONY
			</div>
		</div>
	</div>
</section>

<section class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="col-md-8 text-white" style="background-color: cyan">
			<div class="col-md-6 text-center">
				DESTINOS PARA DISFRUTAR
			</div>
			<div class="col-md-6">
				JESUS
			</div>
		</div>
		<div class="col-md-4 text-center bg-navy-blue text-white">
			CLUB MILES
		</div>
	</div>
</section>