<section class="row presentation" >
  <div class="col-md-12">
  	<h1 class="text-white text-light text-center mb-20">BELONG</h1>
  	<div class="rectangle col-centered"></div>
  </div>    
</section>

<section class="row featured">
	<div class="col-md-8 col-md-offset-2 bg-white text-center">
		<h2>UN MUNDO DE PRIVILEGIOS</h2>
		<h3 class="text-light">ESPERANDO POR USTED</h3>
		<div class="features">
			<div class="feature">
				<span class="icon-world text-elg"></span>
				<div class="description">
					<p>ACEPTADA EN</p>
					<p><strong>185 PAÍSES</strong></p>
				</div>
			</div>
			<div class="feature">
				<span class="icon-aircraft-take-off text-elg"></span>
				<div class="description">
					<p><strong>650 SALAS VIP</strong></p>
					<p>EN EL MUNDO</p>
				</div>
			</div>
			<div class="feature">
				<span class="icon-shopping-bag text-elg"></span>
				<div class="description">
					<p><strong>CUOTAS</strong></p>
					<p>SIN INTERÉS</p>
				</div>
			</div>
			<div class="feature">
				<span class="icon-briefcase text-elg"></span>
				<div class="description">
					<p>VIAJA JUNTO A</p>
					<p><strong>CLUB MILES</strong></p>
				</div>
			</div>
		</div>
		<button class="btn btn-navy-blue btn-lg">ÚNASE AL CLUB</button>
	</div>
</section>

<section class="row solutions">
	<div class="col-md-8 col-md-offset-2">
		<div class="col-md-3 text-center bg-navy-blue text-white card">
			<div class="feature">
				<span class="icon-wallet text-elg"></span>
				<div class="description">
					<h4>SOLUCIONES DINERS</h4>
					<h4 class="text-light">A SU MEDIDA</h4>
				</div>
			</div>
			<ul class="list-unstyled">
				<li>DINERO EN EFECTIVO</li>
				<li>PRESTAMO PERSONAL DINERS</li>
				<li>SEGUROS DE VIAJES</li>
				<li>SEGUROS DE VIDA</li>
			</ul>
		</div>
		<div class="col-md-8 col-md-offset-1 text-white card" style="background-color: #0780c3">
			<div class="col-md-6 text-center">
				<div class="feature">
					<span class="icon-shopping-bag text-elg"></span>
					<div class="description">
						<h4 class="text-light">EXCLUSIVO</h4>
						<h4>CUOTAS SIN INTERESES</h4>
					</div>
				</div>
				<p class="text-md">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend.</p>
				<button class="btn btn-border btn-white">COMPRE EN CUOTAS</button>
			</div>
			<div class="col-md-6 text-center hidden-sm hidden-xs">
				<div class="slider">
					<div class="perfect-circle"></div>
    			<p class="pt-10">HASTA EN <strong>12 CUOTAS</strong> SIN INTERESES</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="row travels pt-20">
	<div class="col-md-8 col-md-offset-2 text-white">
		<div class="col-md-8 card" style="background: #dff0d8 url('images/rio.jpg') center center /cover;">
			<div class="col-md-6">
				<div>
					<p>DESTINOS PARA DISFRUTAR</p>
					<p>JUNTO A TARJETA CLUB MILES</p>
				</div>
				<hr>
				<h4>RIO DE JANEIRO</h4>
				<p>Mar, montaña, ríos y lagunas se unieron para crear una geografía variada y hermosa.</p>
				<button class="btn btn-border btn-white">SOLICITAR DINERS CLUB MILES</button>
			</div>
		</div>
		<div class="col-md-3 col-md-offset-1 text-center card bg-navy-blue">
			<h4>ClubMiles</h4>
			<ul class="list-unstyled">
				<li>CANJEAR MILLAS</li>
				<li>CALCULADORA DE MILLAS</li>
				<li>PAQUETES PROMOCIONALES</li>
				<li>DINERS TRAVEL</li>
			</ul>
			<button class="btn btn-border btn-white">INGRESE A SU MUNDO</button>
		</div>
	</div>
</section>

<section class="row conclusion pt-30">
	<div class="col-md-8 col-md-offset-2 card text-center bg-transparent-beige text-navy-blue">
		<h3>UN MUNDO DE PRIVILEGIOS PARA USTED</h3>
		<p>Pagar de manera cómoda y segura, es posible. Y conseguir beneficios exclusivos por sus pagos, también. Con Diners Club tendrá acceso a ofertas especiales, acceso a las Salas VIP de los principales aeropuertos y asistencia en viajes, entre otras muchas ventajas</p>
		<button class="btn btn-navy-blue btn-lg">ÚNASE AL CLUB</button>
	</div>
</section>